.App {
  text-align: center;
  font-size: small;
  background-color: #f6f6f6;
}
.mid{
  width: 100%;
  min-height: 750px;
  padding: 1rem;
  justify-content: space-evenly;
}
.footer{
  width: 100%;
  min-height: 5rem;
}
.leaflet-container{
  width: 100%;
  height: 400px;
  margin:0rem;
  padding: 0rem;
}
.fade-line{
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#f6f6f6));
}